.footer {
  padding: 60px 0;
  background-color: $hero-background-color;
  text-align: center;
  // min-width: 480px;
}

.footer-wrapper {
  @media screen and (min-width: 768px) {
    display: flex;
    flex-wrap: wrap;
    align-items: baseline;
    &__item:first-child {
      margin-right: 165px;
      margin-left: 61px;
    }
    &__item:last-child {
      margin-left: 166px;
    }
  }
  @media screen and (max-width: 1199px) {
    &__item:not(:last-child) {
      margin-bottom: 60px;
    }
  }

  @media screen and (min-width: 1200px) {
    display: flex;
    text-align: left;
    flex-wrap: nowrap;
    align-items: baseline;
    margin-bottom: 0;
    &__item:first-child {
      margin-right: 80px;
      margin-left: 0;
    }
    &__item:last-child {
      margin-left: 93px;
    }
  }

  &__item .social-links {
    justify-content: center;
    align-items: center;
  }

  &__item .social-links__item {
    border-radius: 50%;
    background-color: rgba(255, 255, 255, 0.1);
  }

  &__item .social-links__icon {
    fill: $primary-background-color;
  }
}

.address-list {
  @extend %list;

  &__item:not(:last-child) {
    display: block;
    margin-bottom: 9px;
  }

  &__link {
    @extend %link;
    color: $footer-address-color;
    font-style: normal;
    line-height: 1.71;
    &_color_white {
      color: $primary-background-color;
    }
    &:hover,
    &:focus {
      color: $accent-color;
    }
  }
}
