.section-hero {
  // max-width: 1600px;
  padding-bottom: 118px;
  padding-top: 118px;
  color: $primary-background-color;
  background-image: linear-gradient(to right, $hero-gradient, $hero-gradient),
    url('../images/hero.jpg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-color: $hero-background-color;
  text-align: center;

  @media screen and (min-width: 480px) {
    max-width: 480px;
    height: 400px;
  }

  @media screen and (min-width: 768px) {
    max-width: 768px;
    height: 400px;
  }

  @media screen and (min-width: 1200px) {
    max-width: 1600px;
  }

  &__title {
    max-width: 360px;
    margin: 0 auto;
    margin-bottom: $card-set-gap;
    @include fonts(26px, 1.62, 0.06em, 900);
    text-transform: uppercase;
    @media screen and (min-width: 1200px) {
      max-width: 696px;
      @include fonts(44px, 1.36, 0.06em, 900);
    }
  }
}

.hero-wrapper {
  width: 100%;
  &__section-hero {
    margin-left: auto;
    margin-right: auto;
  }
}
