.social-links {
  @extend %list;
  display: flex;

  &__item {
    width: 44px;
    height: 44px;
  }

  &__item:not(:last-child) {
    margin-right: 10px;
  }

  &__icon {
    width: 20px;
    height: 20px;
    fill: $social-links-color;
    transition: fill $transition-duration $transition-time-function;
  }

  &__link {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    border-radius: 50%;
    transition: background-color $transition-duration $transition-time-function;
  }

  &__link:hover,
  &__link:focus {
    background-color: $accent-color;
  }

  &__link:hover &__icon,
  &__link:focus &__icon {
    fill: $primary-background-color;
  }
}
