.button-menu {
  min-width: 40px;
  min-height: 40px;
  border: none;
  cursor: pointer;
  background-color: transparent;
  @media screen and (min-width: 766px) {
    display: none;
  }

  &__icon {
    transition: fill $transition-duration $transition-time-function;
  }

  &:focus &__icon,
  &:hover &__icon {
    fill: $accent-color;
  }

  &_cross {
    margin-left: auto;
    margin-right: 15px;
    margin-top: 10px;
    display: block;
  }
}
