.container {
  padding-left: 15px;
  padding-right: 15px;
  @media screen and (min-width: 480px) {
    width: 480px;
  }

  @media screen and (min-width: 768px) {
    width: 768px;
  }

  @media screen and (min-width: 1200px) {
    width: 1200px;
  }

  // &__portfolio-buttons {
  //   margin-bottom: 50px;
  // }
  // &__portfolio-list {
  //   @include reset-last-gap($card-set-gap);
  //   margin-bottom: calc(-1 * var(--card-set-gap));
  // }
}
