.contacts-list {
  @media screen and (max-width: 767px) {
    display: none;
  }
  @extend %list;
  display: flex;

  @media screen and (min-width: 768px) and (max-width: 1199px) {
    flex-direction: column;
  }

  &__link {
    @extend %link;
    display: flex;
    align-items: center;
    color: $primary-text-color;
    font-weight: 500;
    letter-spacing: 0.02em;
    padding: 32px 0;

    @media screen and (min-width: 768px) and (max-width: 1199px) {
      padding: 0;
      @include fonts(12px, 1.16, 0.02em, 500);
      &_top {
        padding-top: 15px;
      }

      &_bottom {
        padding-bottom: 15px;
      }
    }

    &:hover,
    &:focus {
      color: $accent-color;
    }
  }

  &__link:hover &__icon,
  &__link:focus &__icon {
    fill: $accent-color;
  }

  @media screen and (min-width: 1199px) {
    &__item:nth-child(2) {
      margin-left: 50px;
    }
  }

  @media screen and (min-width: 768px) and (max-width: 1199px) {
    &__item:first-child {
      margin-bottom: 10px;
    }
  }

  &__icon {
    margin-right: 10px;
    fill: $primary-text-color;
    transition: fill $transition-duration $transition-time-function;
  }
}
