.social-links {
  @extend %list;
  display: flex;

  &__mobile-menu {
    margin-bottom: 48px;
    flex-wrap: wrap;
  }

  &__item {
    width: 44px;
    height: 44px;
    &_row {
      width: auto;
      height: auto;
      &:not(:last-child) {
        border-right: 1px solid rgba(33, 33, 33, 0.2);
      }
    }
  }

  &__item:not(:last-child) {
    margin-right: 10px;
  }

  &__icon {
    width: 20px;
    height: 20px;
    fill: $social-links-color;
    transition: fill $transition-duration $transition-time-function;
  }

  &__link {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    border-radius: 50%;
    transition: background-color $transition-duration $transition-time-function;
    &_row {
      display: block;
      @extend %link;
      color: $accent-color;
      @include fonts(18px, 1.22, 0.02em, 500);
      &:not(:first-child) {
        padding-left: 10px;
      }
      padding-right: 10px;
    }
  }

  &__link:hover,
  &__link:focus {
    background-color: $accent-color;
  }

  &__link:hover &__icon,
  &__link:focus &__icon {
    fill: $primary-background-color;
  }
}
