$primary-text-color: #757575;
$title-text-color: #212121;
$accent-color: #2196f3;
$primary-background-color: #ffffff;
$hero-background-color: #2f303a;
$elements-background-color: #f5f4fa;
$line-color: #ececec;
$card-set-gap: 30px;
$footer-address-color: rgba(255, 255, 255, 0.6);
$hero-gradient: rgba(47, 48, 58, 0.4);
$social-links-color: #afb1b8;
$transition-time-function: cubic-bezier(0.4, 0, 0.2, 1);
$transition-duration: 250ms;
